body,
html {
    background: #235d59;
    background: -moz-linear-gradient(top, #235d59 0%, #81c4c0 100%);
    background: -webkit-linear-gradient(top, #235d59 0%,#81c4c0 100%);
    background: linear-gradient(to bottom, #235d59 0%,#81c4c0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#235d59', endColorstr='#81c4c0',GradientType=0 );
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}


#promo {
    height: 1024px;
    width: 100%;
}

.snow {
  height: 100%;
  position: absolute;
  width: 100%;
}

.snowman {
    z-index: 1;
    position: absolute;
    bottom: 2%;
    left: 12%;
    width: 104px;
    transform-origin: bottom;
    -webkit-animation: ROTATE 2s infinite; 
    -moz-animation:    ROTATE 2s infinite; 
    -o-animation:      ROTATE 2s infinite; 
    animation:         ROTATE 2s infinite; 
}

.snowman img {
    width: 104px;
}

.gingerbread {
    position: absolute;
    bottom: 5%;
    right: 20%;
    width: 152px;  
    transform-origin: bottom;
    -webkit-animation: ROTATE2 2s infinite; 
    -moz-animation:    ROTATE2 2s infinite; 
    -o-animation:      ROTATE2 2s infinite; 
    animation:         ROTATE2 2s infinite;   
}

.gingerbread img {
    width: 152px;
}

.house {
    z-index: 1;
    position: absolute;
    bottom: 2%;
    right: 43%;
    width: 250px;     
    
    -webkit-animation: PULSE 2s infinite; 
    -moz-animation:    PULSE 2s infinite; 
    -o-animation:      PULSE 2s infinite; 
    animation:         PULSE 2s infinite;
}

.house img {
    width: 250px;
}


.container {
    top: 10%;
    
    position: relative;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 600px;
}

.container p {
    margin: 8px 40px;
}

.santa {
    width: 109px;
    margin: 0 auto;
    transform-origin: center;
    -webkit-animation: ROTATE2 2s infinite; 
    -moz-animation:    ROTATE2 2s infinite; 
    -o-animation:      ROTATE2 2s infinite; 
    animation:         ROTATE2 2s infinite;
}

.santa img {
    width: 109px;
}


.hills {
    background-image: url('img/hills.png');
    width: 100%;
    height: 147px;
    position: absolute;
    bottom: 0;
}


h1, h2, p {
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.35);
}


h1 {
    font-family: 'Mountains of Christmas', cursive;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #fff;
    line-height: 60px;

}

h2 {
    font-family: 'Mountains of Christmas', cursive;
    font-size: 34px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: #cdfff3;
}

p {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 22px;
    letter-spacing: -0.1px;
}

.btn {
    background-color: #235d59;
    padding: 12px 40px;
    border-radius: 50px;
    margin: 25px auto;
    text-align: center;
    display: block;
    width: 130px;
    font-weight: 700;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 20px;
    color: #fff;
    
    transition: all .2s ease-in-out;
}

.btn:hover {
    /* background-color: #FF5A5A; */
    transform: scale(1.1);
}


a {
    text-decoration: none;
    cursor: pointer;
}

audio {display:none;}

@-webkit-keyframes ROTATE {
    0%   { transform: rotate(-5deg); }
    50%  { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}

@-webkit-keyframes ROTATE2 {
    0%   { transform: rotate(5deg); }
    50%  { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
}

@-webkit-keyframes PULSE {
    0%   { transform: scale(1,1); }
    50%  { transform: scale(0.95,0.95); }
    100% { transform: scale(1,1); }
}


@media (max-width:1200px) {
    
    h1 {margin-top: 10px;}
    
  .container {
    top: 6%;
    }
    
    .santa {width: 100px; }
    .santa img {width: 100px;}
    
    .gingerbread {width: 100px; bottom: 8%;}
    .gingerbread img {width: 100px;}
    
    .house {width: 175px; bottom: 2%;}
    .house img {width: 175px;}
    
    .snowman {width: 75px; bottom: 2%;}
    .snowman img {width: 75px;}
}